h1 {
    margin-left: 10px !important;
    margin-top: 15px !important;
}

.square {
    border: 1px solid #000;
    background-color: white;
    height: 34px;
    width: 34px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0px;
    position: relative;
    line-height: 34px;
    float: left;
}

.board-row {
    margin-left: 20px;
    clear: both;
    content: '';
    display: table;
}