.square {
    border: 1px solid #000;
    background-color: white;
    height: 34px;
    width: 34px;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0px;
    position: relative;
    line-height: 34px;
    float: left;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}